Repository thisisfixer/gate22: changes, and which pre-commit hooks are due for each by the changed paths.
All: format check, lint check, build check, format, lint, mypy

format check:
  name: running frontend format check
  language: system
  entry: sh -c "cd frontend && pnpm run format:check"
  pass_filenames: false
  require_serial: true

lint check:
  name: running frontend lint check
  language: system
  entry: sh -c "cd frontend && pnpm run lint"
  pass_filenames: false
  require_serial: true

build check:
  name: running frontend build check
  language: system
  entry: sh -c "cd frontend && pnpm run build"
  pass_filenames: false
  require_serial: true

format:
  name: running backend format checks
  language: system
  entry: sh -c "cd backend && uv run ruff format ."
  pass_filenames: false
  require_serial: true

lint:
  name: running backend lint checks
  language: system
  entry: sh -c "cd backend && uv run ruff check . --fix"
  pass_filenames: false
  require_serial: true

mypy:
  name: running backend mypy checks
  language: system
  entry: sh -c "cd backend && uv run mypy ."
  pass_filenames: false
  require_serial: true

Update README.md
  backend/README.md
Due: format, lint, mypy

Add Sentry Error Monitoring (#98)
  frontend/.gitignore
  frontend/instrumentation-client.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
  frontend/sentryoptions.ts
  frontend/src/app/global-error.tsx
  frontend/src/instrumentation.ts
Due: format check, lint check, build check

add sentry to backend services (#128)
  backend/.env.example
  backend/aci/common/enums.py
  backend/aci/common/sentry.py
  backend/aci/control_plane/config.py
  backend/aci/control_plane/main.py
  backend/aci/mcp/config.py
  backend/aci/mcp/main.py
  backend/aci/virtual_mcp/config.py
  backend/aci/virtual_mcp/main.py
Due: format, lint, mypy

add virtual mcp to cicd deployment (#129)
  .github/workflows/backend-deployment.yml
Due: none

changed to use opaque token for mcp url (#125)
  backend/aci/alembic/versions/2025_09_26_1052-2416fc891646_adding_bundle_key.py
  backend/aci/cli/commands/mock_data/create_mock_mcp_configuration.py
  backend/aci/common/db/crud/mcp_server_bundles.py
  backend/aci/common/db/sql_models.py
  backend/aci/common/schemas/mcp_server_bundle.py
  backend/aci/common/utils.py
  backend/aci/control_plane/routes/mcp_server_bundles.py
  backend/aci/control_plane/schema_utils.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/routes/mcp_server_bundles/test_mcp_server_bundles.py
  backend/aci/control_plane/tests/services/test_orphan_records_remover.py
  backend/aci/mcp/routes/mcp.py
  frontend/src/app/(dashboard)/bundle-mcp/[id]/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/features/bundle-mcp/types/bundle-mcp.types.ts
  frontend/src/lib/rbac/permissions.ts
Due: format check, lint check, build check, format, lint, mypy

Update README.md
  README.md
Due: none

README: Content update
  README.md
  frontend/public/gate22-architecture.svg
Due: format check, lint check, build check

README: Updated architecutre diagram
  README.md
  frontend/public/gate22-architecture-light-bg.svg
  frontend/public/gate22-architecture.svg
Due: format check, lint check, build check

UI: Remove Home Page (#131)
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/signup/page.tsx
  frontend/src/app/(landing)/page.tsx
Due: format check, lint check, build check

change notion tools (#132)
  backend/mcp_servers/notion/tools.json
Due: format, lint, mypy

update gate22 dev portal domain
  README.md
Due: none

add basic AGENTS.md (#135)
  AGENTS.md
Due: none

Feat/update delete mcp servers (#124)
  backend/aci/cli/README.md
  backend/aci/common/db/crud/mcp_servers.py
  backend/aci/common/schemas/mcp_server.py
  backend/aci/control_plane/exceptions.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/features/mcp/api/mcp.service.ts
  frontend/src/features/mcp/components/delete-server-dialog.tsx
  frontend/src/features/mcp/components/update-server-dialog.tsx
  frontend/src/features/mcp/hooks/use-mcp-servers.ts
  frontend/src/lib/rbac/permissions.ts
Due: format check, lint check, build check, format, lint, mypy

bug: remove trailing space from supabase server.json file; make virtu… (#136)
  backend/aci/virtual_mcp/routes/mcp.py
  backend/mcp_servers/supabase/server.json
Due: format, lint, mypy

Feat/mcp session management (#137)
  backend/aci/alembic/versions/2025_10_01_1941-29198b498f92_add_mcp_session_table.py
  backend/aci/common/db/crud/__init__.py
  backend/aci/common/db/crud/mcp_sessions.py
  backend/aci/common/db/sql_models.py
  backend/aci/mcp/config.py
  backend/aci/mcp/protocol/__init__.py
  backend/aci/mcp/protocol/streamable_http.py
  backend/aci/mcp/routes/handlers/__init__.py
  backend/aci/mcp/routes/handlers/initialize.py
  backend/aci/mcp/routes/handlers/tools/__init__.py
  backend/aci/mcp/routes/handlers/tools/execute_tool.py
  backend/aci/mcp/routes/handlers/tools/search_tools.py
  backend/aci/mcp/routes/handlers/tools_call.py
  backend/aci/mcp/routes/handlers/tools_list.py
  backend/aci/mcp/routes/mcp.py
Due: format, lint, mypy

README: Updated youtube link banner
  README.md
  frontend/public/gate22-banner.png
  frontend/public/umcp-demo-thumbnail.png
  frontend/public/vibeops-thumbnail.jpg
Due: format check, lint check, build check

Feat/centralized orphan records manager (#133)
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/common/db/crud/mcp_tools.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/routes/organization/organizations.py
  backend/aci/control_plane/services/orphan_records_remover.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
  backend/aci/control_plane/tests/routes/organizations/test_teams.py
  backend/aci/control_plane/tests/services/test_orphan_records_remover.py
Due: format, lint, mypy

Path conditions:
  format check: any of: ^frontend/
  lint check: any of: ^frontend/
  build check: any of: ^frontend/
  format: any of: ^backend/
  lint: any of: ^backend/
  mypy: any of: ^backend/
