Repository thisisfixer/gate22: changes, and which pre-commit hooks are due for each by the changed paths.
All: format check, lint check, build check, format, lint, mypy

.pre-commit-config.yaml:

repos:
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict

  # Frontend checks
  - repo: local
    hooks:
      - id: format check
        name: running frontend format check
        language: system
        entry: sh -c "cd frontend && pnpm run format:check"
        pass_filenames: false
        require_serial: true
        files: ^frontend/
      - id: lint check
        name: running frontend lint check
        language: system
        entry: sh -c "cd frontend && pnpm run lint"
        pass_filenames: false
        require_serial: true
        files: ^frontend/
      - id: build check
        name: running frontend build check
        language: system
        entry: sh -c "cd frontend && pnpm run build"
        pass_filenames: false
        require_serial: true
        files: ^frontend/

  # Backend checks
  - repo: local
    hooks:
      - id: format
        name: running backend format checks
        language: system
        entry: sh -c "cd backend && uv run ruff format ."
        pass_filenames: false
        require_serial: true
        files: ^backend/
      - id: lint
        name: running backend lint checks
        language: system
        entry: sh -c "cd backend && uv run ruff check . --fix"
        pass_filenames: false
        require_serial: true
        files: ^backend/
      - id: mypy
        name: running backend mypy checks
        language: system
        entry: sh -c "cd backend && uv run mypy ."
        pass_filenames: false
        require_serial: true
        files: ^backend/

Feat/returning user for connected account and bundles (#82)
  backend/aci/common/db/sql_models.py
  backend/aci/common/schemas/connected_account.py
  backend/aci/common/schemas/mcp_server_bundle.py
  backend/aci/common/schemas/user.py
  backend/aci/control_plane/routes/users.py
  backend/aci/control_plane/schema_utils.py
  backend/aci/control_plane/tests/routes/users/test_users.py
Due: format, lint, mypy

feat: after deleting MCPServerConfiguration, remove associated stale records (#79)
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
Due: format, lint, mypy

Google auth workflow (#83)
  backend/aci/common/schemas/auth.py
  backend/aci/control_plane/google_login_utils.py
  backend/aci/control_plane/routes/auth.py
  frontend/src/app/(auth)/callback/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/signup/page.tsx
  frontend/src/features/auth/api/auth.ts
Due: format check, lint check, build check, format, lint, mypy

feat: shared connected account (#76)
  backend/aci/alembic/versions/2025_09_11_1040-7b83f4be0060_add_ownership_to_connected_account.py
  backend/aci/cli/commands/mock_data/create_mock_mcp_configuration.py
  backend/aci/cli/commands/mock_data/create_mock_org_teams_users.py
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/common/db/crud/mcp_server_configurations.py
  backend/aci/common/db/crud/mcp_tools.py
  backend/aci/common/db/sql_models.py
  backend/aci/common/enums.py
  backend/aci/common/schemas/connected_account.py
  backend/aci/common/schemas/mcp_server_configuration.py
  backend/aci/control_plane/access_control.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/schema_utils.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/dummy_mcp_servers/gmail/server.json
  backend/aci/control_plane/tests/dummy_mcp_servers/gmail/tools.json
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
Due: format, lint, mypy

feat: Improve authentication type UI with user-friendly labels and tooltips (#85)
  frontend/src/app/(dashboard)/bundle-mcp/[id]/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/connected-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/features/bundle-mcp/types/bundle-mcp.types.ts
  frontend/src/features/connected-accounts/components/connected-account-configuration-stepper.tsx
  frontend/src/features/connected-accounts/types/connectedaccount.types.ts
  frontend/src/features/mcp/components/mcp-server-configuration-stepper.tsx
  frontend/src/features/members/hooks/use-org-members-table-columns.tsx
  frontend/src/utils/auth-labels.ts
Due: format check, lint check, build check

support linked account on frontend (#87)
  frontend/src/app/(dashboard)/available-mcp-servers/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/connected-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/mcp-server-detail-modal.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/expandable-text.tsx
  frontend/src/components/ui/formatted-text.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/features/connected-accounts/components/add-account-dialog.tsx
  frontend/src/features/connected-accounts/components/connected-account-configuration-stepper.tsx
  frontend/src/features/connected-accounts/components/connected-account-details.tsx
  frontend/src/features/connected-accounts/types/connectedaccount.types.ts
  frontend/src/features/mcp/components/create-mcp-configuration-dialog.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-stepper.tsx
  frontend/src/features/mcp/components/tool-schema-drawer.tsx
  frontend/src/features/mcp/types/mcp.types.ts
  frontend/src/utils/configuration-labels.ts
Due: format check, lint check, build check

feat: allow mcp server to use shared connected account (#89)
  backend/aci/cli/commands/mcp/generate_tools.py
  backend/aci/common/auth_credentials_manager.py
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/mcp/routes/tools/execute_tool.py
Due: format, lint, mypy

Chore/adding cicd for ecs deployment (#84)
  .github/workflows/backend-checks.yml
  .github/workflows/backend-deployment.yml
  .github/workflows/ecs-build-image.yml
  .github/workflows/ecs-db-migration.yml
  .github/workflows/ecs-deploy-service.yml
  .github/workflows/frontend-checks.yml
  backend/Dockerfile.migration
Due: format, lint, mypy

support filtering connected accounts by mcp server configuration id (#88)
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
Due: format, lint, mypy

Bug/mcp some client not connecting (#90)
  backend/aci/mcp/config.py
  backend/aci/mcp/exceptions.py
  backend/aci/mcp/middleware/interceptor.py
  backend/aci/mcp/routes/jsonrpc.py
  backend/aci/mcp/routes/mcp.py
  frontend/.env.example
  frontend/package-lock.json
Due: format check, lint check, build check, format, lint, mypy

Bundle mcp UI improvement (#91)
  frontend/src/app/(dashboard)/available-mcp-servers/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/[id]/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/features/bundle-mcp/components/bundle-mcp-stepper-form.tsx
  frontend/src/features/bundle-mcp/components/configuration-selection-dialog.tsx
  frontend/src/features/bundle-mcp/components/create-bundle-form.tsx
  frontend/src/features/connected-accounts/api/connectedaccount.ts
  frontend/src/features/connected-accounts/hooks/use-connected-account.tsx
  frontend/src/utils/configuration-labels.ts
Due: format check, lint check, build check

feat: Allow adding members when creating a team (#86)
  backend/aci/common/schemas/organization.py
  backend/aci/control_plane/routes/organizations.py
  backend/aci/control_plane/tests/routes/organizations/test_teams.py
  frontend/src/features/mcp/components/manage-teams-dialog.tsx
  frontend/src/features/settings/components/create-team-dialog.tsx
  frontend/src/features/teams/components/create-team-with-members-dialog.tsx
  frontend/src/features/teams/types/team.types.ts
Due: format check, lint check, build check, format, lint, mypy

add importlinter; fix files that break the rule (#94)
  .github/workflows/backend-checks.yml
  .pre-commit-config.yaml
  backend/.importlinter
  backend/aci/common/test_utils.py
  backend/aci/control_plane/tests/conftest.py
  backend/pyproject.toml
  backend/uv.lock
Due: format, lint, mypy

simplify import linter rules (#95)
  backend/.importlinter
  backend/aci/virtual_mcp/__init__.py
Due: format, lint, mypy

added new create custom MCP Server API (#93)
  backend/aci/alembic/versions/2025_09_17_1244-967410def57b_supported_custom_mcp_server_and_added_.py
  backend/aci/cli/commands/mcp/upsert_server.py
  backend/aci/common/db/crud/mcp_servers.py
  backend/aci/common/db/sql_models.py
  backend/aci/common/schemas/mcp_server.py
  backend/aci/common/utils.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/schema_utils.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/helper.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
Due: format, lint, mypy

feat(auth): add email verification flow (#92)
  backend/.env.example
  backend/README.md
  backend/aci/alembic/versions/2025_09_17_1819-d8f4a4a74a06_add_user_verifications_table_for_email_.py
  backend/aci/cli/commands/mock_data/create_mock_org_teams_users.py
  backend/aci/common/db/crud/__init__.py
  backend/aci/common/db/crud/user_verifications.py
  backend/aci/common/db/crud/users.py
  backend/aci/common/db/sql_models.py
  backend/aci/common/enums.py
  backend/aci/common/utils.py
  backend/aci/control_plane/config.py
  backend/aci/control_plane/dependencies.py
  backend/aci/control_plane/exceptions.py
  backend/aci/control_plane/routes/auth.py
  backend/aci/control_plane/services/__init__.py
  backend/aci/control_plane/services/email_service.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/routes/auth/test_auth.py
  backend/aci/control_plane/tests/routes/organizations/test_organizations.py
  backend/aci/control_plane/tests/routes/organizations/test_teams.py
  backend/aci/control_plane/token_utils.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/app/(auth)/onboarding/organization/page.tsx
  frontend/src/app/(auth)/signup/page.tsx
  frontend/src/app/auth/verify-error/page.tsx
  frontend/src/app/auth/verify-pending/page.tsx
  frontend/src/app/auth/verify-success/page.tsx
  frontend/src/components/context/metainfo.tsx
  frontend/src/features/auth/api/auth.ts
Due: format check, lint check, build check, format, lint, mypy

Feat/oauth discovery and dcr (#97)
  backend/aci/common/schemas/mcp_server.py
  backend/aci/control_plane/exceptions.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/services/oauth2_client/__init__.py
  backend/aci/control_plane/services/oauth2_client/client_registrator.py
  backend/aci/control_plane/services/oauth2_client/metadata_fetcher.py
  backend/aci/control_plane/services/oauth2_client/schema.py
Due: format, lint, mypy

chore: moving openai_client to singleton (#100)
  backend/aci/cli/aci.py
  backend/aci/cli/commands/mcp/upsert_server.py
  backend/aci/cli/commands/mcp/upsert_tools.py
  backend/aci/common/openai_client.py
  backend/aci/control_plane/main.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/helper.py
  backend/aci/mcp/main.py
  backend/aci/mcp/routes/tools/search_tools.py
Due: format, lint, mypy

fix: fix missing committing db session (#102)
  backend/aci/control_plane/routes/mcp_servers.py
Due: format, lint, mypy

Get MCPServer and List MCPServer API to handle public / custom mcp server case (#99)
  backend/aci/common/db/crud/mcp_servers.py
  backend/aci/control_plane/access_control.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
  frontend/src/features/mcp/api/mcp.service.ts
  frontend/src/features/mcp/hooks/use-mcp-servers.ts
Due: format check, lint check, build check, format, lint, mypy

UI improvement theme bundle selection warning (#103)
  frontend/src/app/(dashboard)/available-mcp-servers/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/[id]/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/globals.css
  frontend/src/features/bundle-mcp/components/bundle-mcp-stepper-form.tsx
  frontend/src/features/mcp/components/manage-mcp-configuration-dialog.tsx
  frontend/src/features/mcp/components/manage-teams-dialog.tsx
Due: format check, lint check, build check

Feat/operational connected account (#105)
  backend/aci/alembic/versions/2025_09_22_1203-a8253e7a0326_remove_opsaccount_table_and_added_new_.py
  backend/aci/alembic/versions/2025_09_22_1731-b1d18d85aa49_create_unique_index_for_shared_accounts.py
  backend/aci/cli/commands/mcp/upsert_server.py
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/common/db/crud/mcp_server_configurations.py
  backend/aci/common/db/crud/mcp_servers.py
  backend/aci/common/db/sql_models.py
  backend/aci/common/enums.py
  backend/aci/common/schemas/mcp_server.py
  backend/aci/common/schemas/mcp_server_configuration.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/schema_utils.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/helper.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
Due: format, lint, mypy

Cli/use aws to fetch oauth2 client data (#111)
  backend/aci/cli/commands/mcp/upsert_server.py
  backend/mcp_servers/gmail/server.json
  backend/mcp_servers/google_calendar/server.json
  backend/mcp_servers/microsoft_calendar/server.json
  backend/mcp_servers/microsoft_outlook/server.json
  backend/virtual_mcp_servers/microsoft_calendar/server.json
  backend/virtual_mcp_servers/microsoft_calendar/tools.json
  backend/virtual_mcp_servers/microsoft_outlook/server.json
  backend/virtual_mcp_servers/microsoft_outlook/tools.json
Due: format, lint, mypy

Feat/sync tool list (#108)
  backend/aci/cli/commands/mcp/generate_tools.py
  backend/aci/cli/commands/mcp/upsert_server.py
  backend/aci/cli/commands/mcp/upsert_tools.py
  backend/aci/common/auth_credentials_manager.py
  backend/aci/common/db/crud/mcp_server_configurations.py
  backend/aci/common/db/crud/mcp_servers.py
  backend/aci/common/db/crud/mcp_tools.py
  backend/aci/common/embeddings.py
  backend/aci/common/exceptions.py
  backend/aci/common/mcp_tool_utils.py
  backend/aci/common/schemas/mcp_server.py
  backend/aci/common/tests/test_mcp_tool_utils.py
  backend/aci/control_plane/exceptions.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/services/mcp_tools/__init__.py
  backend/aci/control_plane/services/mcp_tools/mcp_tools_fetcher.py
  backend/aci/control_plane/services/mcp_tools/mcp_tools_manager.py
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
  backend/aci/mcp/routes/tools/execute_tool.py
Due: format, lint, mypy

bypass the need for connected account for virtual mcp servers when generate-tools (#112)
  backend/aci/cli/commands/mcp/generate_tools.py
Due: format, lint, mypy

chore: wait 10 minutes for service deploy (#116)
  .github/workflows/ecs-deploy-service.yml
Due: none

Docs: Added some ops repo docs (#118)
  CLA.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Due: none

custom mcp server field enhancement (#110)
  backend/aci/common/db/crud/mcp_servers.py
  backend/aci/common/schemas/mcp_server.py
  backend/aci/control_plane/config.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/services/oauth2_client/metadata_fetcher.py
  backend/pyproject.toml
  backend/uv.lock
Due: format, lint, mypy

feat: rate limiting mcp server tools refreshing (#120)
  backend/aci/control_plane/exceptions.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
Due: format, lint, mypy

unify container port to 8000 (#121)
  backend/Dockerfile.mcp
  backend/Dockerfile.virtual_mcp
  backend/compose.yml
Due: format, lint, mypy

Feat/custom mcp server frontend (#117)
  frontend/next.config.ts
  frontend/src/app/(dashboard)/connected-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/custom/new/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/page.tsx
  frontend/src/features/mcp/api/custom-mcp.service.ts
  frontend/src/features/mcp/api/mcp.service.ts
  frontend/src/features/mcp/components/operational-account-dialog.tsx
  frontend/src/features/mcp/components/sync-results-dialog.tsx
  frontend/src/features/mcp/hooks/use-custom-mcp-server.ts
  frontend/src/features/mcp/hooks/use-mcp-servers.ts
  frontend/src/features/mcp/types/mcp.types.ts
  frontend/src/lib/rbac/permissions.ts
  frontend/src/utils/configuration-labels.ts
Due: format check, lint check, build check

Ops/add more official mcp (#123)
  backend/aci/common/oauth2_manager.py
  backend/mcp_servers/anchor_browser/server.json
  backend/mcp_servers/anchor_browser/tools.json
  backend/mcp_servers/coingecko/server.json
  backend/mcp_servers/coingecko/tools.json
  backend/mcp_servers/etherscan/server.json
  backend/mcp_servers/etherscan/tools.json
  backend/mcp_servers/exa/server.json
  backend/mcp_servers/exa/tools.json
  backend/mcp_servers/fireflies/server.json
  backend/mcp_servers/fireflies/tools.json
  backend/mcp_servers/github/server.json
  backend/mcp_servers/github/tools.json
  backend/mcp_servers/gitlab/server.json
  backend/mcp_servers/gitlab/tools.json
  backend/mcp_servers/linkup/server.json
  backend/mcp_servers/linkup/tools.json
  backend/mcp_servers/neon/server.json
  backend/mcp_servers/neon/tools.json
  backend/mcp_servers/posthog/server.json
  backend/mcp_servers/posthog/tools.json
  backend/mcp_servers/stripe/server.json
  backend/mcp_servers/stripe/tools.json
Due: format, lint, mypy

add atlassian
  backend/mcp_servers/atlassian/server.json
  backend/mcp_servers/atlassian/tools.json
Due: format, lint, mypy

upload logo
  backend/mcp_servers/atlassian/server.json
Due: format, lint, mypy

Feat/custom mcp server ux enhance (#122)
  backend/aci/common/schemas/mcp_server.py
  backend/aci/control_plane/routes/mcp_servers.py
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/custom/new/page.tsx
  frontend/src/features/mcp/api/custom-mcp.service.ts
  frontend/src/features/mcp/hooks/use-custom-mcp-server.ts
Due: format check, lint check, build check, format, lint, mypy

add main readme and template (#126)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  README.md
Due: none

backend readme (#127)
  backend/README.md
Due: format, lint, mypy
