Repository thisisfixer/gate22: changes, and which pre-commit hooks are due for each by the changed paths.
All: format check, lint check, build check, format, lint, mypy

.pre-commit-config.yaml:

repos:
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict

  # Frontend checks
  - repo: local
    hooks:
      - id: format check
        name: running frontend format check
        language: system
        entry: sh -c "cd frontend && pnpm run format:check"
        pass_filenames: false
        require_serial: true
        files: ^frontend/
      - id: lint check
        name: running frontend lint check
        language: system
        entry: sh -c "cd frontend && pnpm run lint"
        pass_filenames: false
        require_serial: true
        files: ^frontend/
      - id: build check
        name: running frontend build check
        language: system
        entry: sh -c "cd frontend && pnpm run build"
        pass_filenames: false
        require_serial: true
        files: ^frontend/

  # Backend checks
  - repo: local
    hooks:
      - id: format
        name: running backend format checks
        language: system
        entry: sh -c "cd backend && uv run ruff format ."
        pass_filenames: false
        require_serial: true
        files: ^backend/
      - id: lint
        name: running backend lint checks
        language: system
        entry: sh -c "cd backend && uv run ruff check . --fix"
        pass_filenames: false
        require_serial: true
        files: ^backend/
      - id: mypy
        name: running backend mypy checks
        language: system
        entry: sh -c "cd backend && uv run mypy ."
        pass_filenames: false
        require_serial: true
        files: ^backend/

Feat/connected account apis (#39)
  backend/aci/cli/README.md
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/common/schemas/connected_account.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/dummy_mcp_servers/github/server.json
  backend/aci/control_plane/tests/dummy_mcp_servers/github/tools.json
  backend/aci/control_plane/tests/dummy_mcp_servers/notion/server.json
  backend/aci/control_plane/tests/dummy_mcp_servers/notion/tools.json
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
  backend/aci/control_plane/tests/routes/organizations/test_organizations.py
Due: format, lint, mypy

cleanup code and better layout (#42)
  backend/aci/control_plane/routes/mcp/mcp_auth_manager.py
  backend/aci/control_plane/routes/mcp/route.py
  backend/aci/control_plane/routes/mcp/tools/__init__.py
  backend/aci/control_plane/routes/mcp/tools/execute_tool.py
  backend/aci/control_plane/routes/mcp/tools/search_tools.py
  backend/aci/control_plane/routes/mcp/types.py
Due: format, lint, mypy

allow override log level of aci module (#43)
  backend/.env.example
  backend/aci/common/logging_setup.py
  backend/aci/control_plane/config.py
  backend/aci/control_plane/main.py
Due: format, lint, mypy

support SEARCH_TOOLS via tools/call (#44)
  backend/aci/common/db/crud/mcp_server_bundles.py
  backend/aci/common/db/crud/mcp_tools.py
  backend/aci/common/embeddings.py
  backend/aci/control_plane/logging.py
  backend/aci/control_plane/routes/mcp/jsonrpc.py
  backend/aci/control_plane/routes/mcp/route.py
  backend/aci/control_plane/routes/mcp/tools/search_tools.py
Due: format, lint, mypy

Mcp config (#45)
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/common/schemas/mcp_server_configuration.py
  backend/aci/control_plane/routes/connected_accounts.py
  frontend/src/app/(auth)/callback/page.tsx
  frontend/src/app/(dashboard)/linked-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/features/auth/api/auth.ts
  frontend/src/features/bundle-mcp/store/agent.store.ts
  frontend/src/features/linked-accounts/api/linkedaccount.ts
  frontend/src/features/linked-accounts/components/add-account-dialog.tsx
  frontend/src/features/linked-accounts/components/linked-account-configuration-stepper.tsx
  frontend/src/features/linked-accounts/components/linked-account-details.tsx
  frontend/src/features/linked-accounts/hooks/use-linked-account.tsx
  frontend/src/features/linked-accounts/types/linkedaccount.types.ts
  frontend/src/features/linked-accounts/types/mcp-server-configuration.types.ts
  frontend/src/features/mcp/components/create-mcp-configuration-dialog.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-modal.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-stepper.tsx
  frontend/src/features/mcp/hooks/use-mcp-server-configurations.ts
  frontend/src/features/mcp/types/mcp.types.ts
  frontend/src/features/settings/api/organization.ts
Due: format check, lint check, build check, format, lint, mypy

fix: revert incorrect permission changes for deleting connected accounts (#46)
  backend/aci/control_plane/routes/connected_accounts.py
Due: format, lint, mypy

Fix/improve error handling and UI (#47)
  frontend/src/app/(dashboard)/linked-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
Due: format check, lint check, build check

Update add-account-dialog.tsx (#48)
  frontend/src/features/linked-accounts/components/add-account-dialog.tsx
Due: format check, lint check, build check

Feat/mcp server bundle apis (#40)
  backend/aci/common/db/crud/mcp_server_bundles.py
  backend/aci/common/db/crud/mcp_server_configurations.py
  backend/aci/common/db/crud/teams.py
  backend/aci/common/schemas/mcp_server_bundle.py
  backend/aci/common/schemas/mcp_server_configuration.py
  backend/aci/control_plane/routes/mcp_server_bundles.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/routes/mcp_server_bundles/test_mcp_server_bundles.py
Due: format, lint, mypy

add transport type to MCPServer schema; support sse mcp server (#49)
  backend/aci/alembic/versions/2025_08_31_1957-7ace8fa6021e_add_transport_type_to_mcpserver.py
  backend/aci/common/db/sql_models.py
  backend/aci/common/enums.py
  backend/aci/common/schemas/mcp_server.py
  backend/aci/control_plane/routes/mcp/tools/execute_tool.py
  backend/aci/control_plane/tests/dummy_mcp_servers/github/server.json
  backend/aci/control_plane/tests/dummy_mcp_servers/notion/server.json
  backend/mcp_servers/notion/server.json
Due: format, lint, mypy

cleanup EXECUTE_TOOL code (#50)
  backend/aci/control_plane/routes/mcp/route.py
  backend/aci/control_plane/routes/mcp/tools/execute_tool.py
Due: format, lint, mypy

remove need_session server metadata for now
  backend/aci/common/schemas/mcp_server.py
  backend/aci/control_plane/tests/dummy_mcp_servers/github/server.json
  backend/aci/control_plane/tests/dummy_mcp_servers/notion/server.json
  backend/mcp_servers/notion/server.json
  frontend/src/features/mcp/types/mcp.types.ts
Due: format check, lint check, build check, format, lint, mypy

move auth_credentials_manager and oauth2_manager to common (#51)
  backend/aci/common/auth_credentials_manager.py
  backend/aci/common/exceptions.py
  backend/aci/common/oauth2_manager.py
  backend/aci/control_plane/exceptions.py
  backend/aci/control_plane/google_login_utils.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp/tools/execute_tool.py
Due: format, lint, mypy

feat: unifying the schema of get list and get single response for MCP… (#52)
  backend/aci/cli/aci.py
  backend/aci/cli/commands/mock_data/__init__.py
  backend/aci/cli/commands/mock_data/create_mock_mcp_configuration.py
  backend/aci/cli/commands/mock_data/create_mock_org_teams_users.py
  backend/aci/cli/commands/organization/__init__.py
  backend/aci/common/db/crud/mcp_tools.py
  backend/aci/common/schemas/connected_account.py
  backend/aci/common/schemas/mcp_server.py
  backend/aci/common/schemas/mcp_server_bundle.py
  backend/aci/common/schemas/mcp_server_configuration.py
  backend/aci/common/schemas/mcp_tool.py
  backend/aci/control_plane/config.py
  backend/aci/control_plane/main.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp_server_bundles.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/routes/mcp_servers.py
  backend/aci/control_plane/routes/mcp_tools.py
  backend/aci/control_plane/schema_utils.py
  backend/aci/control_plane/tests/routes/mcp_server_bundles/test_mcp_server_bundles.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
Due: format, lint, mypy

cli command to generate tools.json for configured, connected mcp server (#55)
  backend/aci/cli/aci.py
  backend/aci/cli/commands/mcp/__init__.py
  backend/aci/cli/commands/mcp/generate_tools.py
  backend/aci/common/mcp_auth_manager.py
  backend/aci/control_plane/routes/mcp/tools/execute_tool.py
  backend/mcp_servers/notion/tools.json
Due: format, lint, mypy

feat: for google login api, redirect with error message instead of returning with json error (#53)
  backend/aci/control_plane/routes/auth.py
Due: format, lint, mypy

Create mcp bundel (#56)
  .github/workflows/frontend.yml
  backend/aci/cli/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(dashboard)/bundle-mcp/[id]/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/connected-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/multi-select.tsx
  frontend/src/features/bundle-mcp/api/agent.ts
  frontend/src/features/bundle-mcp/components/create-bundle-form.tsx
  frontend/src/features/bundle-mcp/hooks/use-bundle-mcp.tsx
  frontend/src/features/bundle-mcp/store/agent.store.ts
  frontend/src/features/bundle-mcp/types/bundle-mcp.types.ts
  frontend/src/features/connected-accounts/api/connectedaccount.ts
  frontend/src/features/connected-accounts/components/add-account-dialog.tsx
  frontend/src/features/connected-accounts/components/connected-account-configuration-stepper.tsx
  frontend/src/features/connected-accounts/components/connected-account-details.tsx
  frontend/src/features/connected-accounts/hooks/use-connected-account.tsx
  frontend/src/features/connected-accounts/types/connectedaccount.types.ts
  frontend/src/features/connected-accounts/types/mcp-server-configuration.types.ts
  frontend/src/features/mcp/api/mcp.service.ts
  frontend/src/features/mcp/components/json-code-viewer.tsx
  frontend/src/features/mcp/components/json-schema-viewer.tsx
  frontend/src/features/mcp/components/json-viewer.tsx
  frontend/src/features/mcp/components/tool-schema-drawer.tsx
  frontend/src/features/mcp/hooks/use-mcp-servers.ts
  frontend/src/features/mcp/types/mcp.types.ts
  frontend/src/features/settings/api/organization.ts
  frontend/src/features/teams/api/team.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/api-error-handler.ts
  frontend/src/lib/api-utils.ts
Due: format check, lint check, build check, format, lint, mypy

add name and description to MCPServerConfiguration (#58)
  backend/aci/alembic/versions/2025_09_01_2212-63224673a97a_add_name_and_description_to_.py
  backend/aci/cli/commands/mock_data/create_mock_mcp_configuration.py
  backend/aci/common/db/crud/mcp_server_configurations.py
  backend/aci/common/db/sql_models.py
  backend/aci/common/schemas/mcp_server_configuration.py
  backend/aci/control_plane/schema_utils.py
  backend/aci/control_plane/tests/conftest.py
Due: format, lint, mypy

Feat/connected account other auth type (#54)
  backend/aci/common/schemas/connected_account.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
  backend/aci/control_plane/tests/routes/users/test_users.py
Due: format, lint, mypy

add more mcp severs's servers.json (#59)
  backend/aci/control_plane/config.py
  backend/aci/control_plane/main.py
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
  backend/aci/control_plane/tests/routes/mcp_server_bundles/test_mcp_server_bundles.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
  backend/aci/control_plane/tests/routes/mcp_servers/test_mcp_servers.py
  backend/aci/control_plane/tests/routes/organizations/test_organizations.py
  backend/aci/control_plane/tests/routes/organizations/test_teams.py
  backend/aci/control_plane/tests/routes/users/test_users.py
  backend/compose.yml
  backend/mcp_servers/context7/server.json
  backend/mcp_servers/linear/server.json
  backend/mcp_servers/linear/tools.json
  backend/mcp_servers/render/server.json
  backend/mcp_servers/sentry/server.json
  backend/mcp_servers/sentry/tools.json
Due: format, lint, mypy

add render and context7 tools
  backend/mcp_servers/context7/tools.json
  backend/mcp_servers/render/tools.json
Due: format, lint, mypy

Feature/UI improvements (#60)
  frontend/.env.example
  frontend/src/app/(auth)/onboarding/organization/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/[id]/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/connected-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/page.tsx
  frontend/src/components/ui/multi-select.tsx
  frontend/src/features/bundle-mcp/components/create-bundle-form.tsx
  frontend/src/features/connected-accounts/components/add-account-dialog.tsx
  frontend/src/features/mcp/api/mcp.service.ts
  frontend/src/features/mcp/components/create-mcp-configuration-dialog.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-modal.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-stepper.tsx
  frontend/src/features/mcp/types/mcp.types.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/api-error-handler.ts
Due: format check, lint check, build check

unifying redirect urls into single control plane base url (#61)
  backend/.env.example
  backend/aci/control_plane/config.py
  backend/aci/control_plane/google_login_utils.py
  backend/aci/control_plane/routes/connected_accounts.py
Due: format, lint, mypy

Mcp/separate remote mcp (#62)
  backend/.env.example
  backend/Dockerfile.mcp
  backend/aci/common/utils.py
  backend/aci/control_plane/config.py
  backend/aci/control_plane/dependencies.py
  backend/aci/control_plane/main.py
  backend/aci/mcp/__init__.py
  backend/aci/mcp/config.py
  backend/aci/mcp/context.py
  backend/aci/mcp/dependencies.py
  backend/aci/mcp/exceptions.py
  backend/aci/mcp/logging.py
  backend/aci/mcp/main.py
  backend/aci/mcp/middleware/__init__.py
  backend/aci/mcp/middleware/interceptor.py
  backend/aci/mcp/routes/__init__.py
  backend/aci/mcp/routes/health.py
  backend/aci/mcp/routes/jsonrpc.py
  backend/aci/mcp/routes/mcp.py
  backend/aci/mcp/routes/tools/__init__.py
  backend/aci/mcp/routes/tools/execute_tool.py
  backend/aci/mcp/routes/tools/search_tools.py
  backend/aci/mcp/tests/__init__.py
  backend/compose.yml
Due: format, lint, mypy

Google auth fix UI (#57)
  backend/aci/control_plane/routes/auth.py
  frontend/src/app/(auth)/callback/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/onboarding/organization/page.tsx
  frontend/src/app/(auth)/signup/page.tsx
  frontend/src/config/api.constants.ts
  frontend/src/features/auth/api/auth.ts
  frontend/src/features/bundle-mcp/hooks/use-bundle-mcp.tsx
  frontend/src/features/connected-accounts/api/connectedaccount.ts
  frontend/src/features/mcp/api/mcp.service.ts
  frontend/src/features/settings/api/organization.ts
  frontend/src/features/teams/api/team.ts
  frontend/src/features/teams/components/add-team-member-dialog.tsx
  frontend/src/lib/token-manager.ts
Due: format check, lint check, build check, format, lint, mypy

fix: fixing create mcp server bundle permission checking logic (#63)
  backend/aci/control_plane/routes/mcp_server_bundles.py
Due: format, lint, mypy

feat: Implement RBAC system with role-based permissions (#64)
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/layout.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/components/context/metainfo.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/layout/org-selector.tsx
  frontend/src/components/layout/role-selector.tsx
  frontend/src/components/layout/token-refresh-overlay.tsx
  frontend/src/components/layout/user-profile-dropdown.tsx
  frontend/src/components/rbac/permission-guard.tsx
  frontend/src/features/bundle-mcp/hooks/use-bundle-mcp.tsx
  frontend/src/features/mcp/hooks/use-mcp-servers.ts
  frontend/src/features/settings/api/organization.ts
  frontend/src/hooks/use-permissions.ts
  frontend/src/lib/rbac/permissions.ts
  frontend/src/lib/rbac/rbac-service.ts
Due: format check, lint check, build check

Feat/allow admin remove connected accounts of members (#66)
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/tests/routes/connected_accounts/test_connected_accounts.py
Due: format, lint, mypy

Feat/allow admin remove mcp bundles of members (#65)
  backend/aci/control_plane/routes/mcp_server_bundles.py
  backend/aci/control_plane/tests/routes/mcp_server_bundles/test_mcp_server_bundles.py
Due: format, lint, mypy

feat: allow admins to delete any bundle MCP (#67)
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/features/bundle-mcp/hooks/use-bundle-mcp.tsx
  frontend/src/lib/rbac/permissions.ts
Due: format check, lint check, build check

support api key config (#68)
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/user-profile-dropdown.tsx
  frontend/src/components/ui/expandable-text.tsx
  frontend/src/features/connected-accounts/api/connectedaccount.ts
  frontend/src/features/connected-accounts/components/add-account-dialog.tsx
  frontend/src/features/connected-accounts/hooks/use-connected-account.tsx
Due: format check, lint check, build check

support config bundle in member view (#71)
  frontend/src/app/(dashboard)/available-mcp-servers/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/[id]/page.tsx
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/connected-accounts/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/page.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/org-selector.tsx
  frontend/src/components/layout/role-selector.tsx
  frontend/src/components/layout/user-profile-dropdown.tsx
  frontend/src/features/auth/components/signup-form.tsx
  frontend/src/features/bundle-mcp/components/create-bundle-form.tsx
  frontend/src/features/bundle-mcp/types/bundle-mcp.types.ts
  frontend/src/features/mcp/components/mcp-server-configuration-stepper.tsx
  frontend/src/features/mcp/components/tools-table.tsx
  frontend/src/features/members/components/vercel-members-table.tsx
  frontend/src/features/settings/components/team-detail-settings.tsx
  frontend/src/features/settings/components/teams-table.tsx
  frontend/src/features/teams/components/add-team-member-dialog.tsx
  frontend/src/features/teams/components/create-team-with-members-dialog.tsx
Due: format check, lint check, build check

move auth utils methods to common (#70)
  backend/aci/cli/commands/mock_data/create_mock_org_teams_users.py
  backend/aci/common/utils.py
  backend/aci/control_plane/routes/auth.py
  backend/aci/control_plane/tests/conftest.py
Due: format, lint, mypy

exclude none when returning tool call result (#72)
  backend/aci/cli/commands/mock_data/create_mock_org_teams_users.py
  backend/aci/mcp/routes/tools/execute_tool.py
  backend/aci/mcp/routes/tools/search_tools.py
Due: format, lint, mypy

Bug fix role switch (#73)
  frontend/src/app/(dashboard)/bundle-mcp/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/page.tsx
  frontend/src/components/context/metainfo.tsx
  frontend/src/components/layout/role-selector.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/features/mcp/components/json-code-viewer.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-modal.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-stepper.tsx
  frontend/src/features/mcp/hooks/use-mcp-servers.ts
  frontend/src/hooks/use-permissions.ts
  frontend/src/lib/role-manager.ts
Due: format check, lint check, build check

Feat/update mcp configuration endpoint (#69)
  backend/aci/common/db/crud/connected_accounts.py
  backend/aci/common/db/crud/mcp_server_bundles.py
  backend/aci/common/db/crud/mcp_server_configurations.py
  backend/aci/common/db/crud/mcp_tools.py
  backend/aci/common/schemas/mcp_server_configuration.py
  backend/aci/control_plane/access_control.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp_server_bundles.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/routes/organizations.py
  backend/aci/control_plane/tests/conftest.py
  backend/aci/control_plane/tests/routes/mcp_server_configurations/test_mcp_server_configurations.py
Due: format, lint, mypy

feat: remove min length check for description (#77)
  backend/aci/common/schemas/organization.py
Due: format, lint, mypy

Mcp configuaration update UI (#78)
  frontend/src/app/(dashboard)/available-mcp-servers/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/[id]/page.tsx
  frontend/src/app/(dashboard)/mcp-configuration/page.tsx
  frontend/src/app/(dashboard)/mcp-servers/page.tsx
  frontend/src/features/mcp/api/mcp.service.ts
  frontend/src/features/mcp/components/delete-configuration-dialog.tsx
  frontend/src/features/mcp/components/manage-teams-dialog.tsx
  frontend/src/features/mcp/components/manage-tools-dialog.tsx
  frontend/src/features/mcp/components/mcp-server-configuration-stepper.tsx
  frontend/src/features/mcp/types/mcp.types.ts
  frontend/src/features/teams/components/create-team-with-members-dialog.tsx
Due: format check, lint check, build check

chore: rename access control method name (#75)
  backend/aci/control_plane/access_control.py
  backend/aci/control_plane/routes/connected_accounts.py
  backend/aci/control_plane/routes/mcp_server_bundles.py
  backend/aci/control_plane/routes/mcp_server_configurations.py
  backend/aci/control_plane/routes/organizations.py
Due: format, lint, mypy
